.cache
.*env
activate
*.pyc
__pycache__
dist
*.egg-info
build/
*.swp
*.orig
.project
.pydevproject
.idea
.coverage*
!docker/build
!bin/buildc
VERSION
_version.py.bld
.pytest_cache/
.ipynb_checkpoints
.DS_Store
node_modules/
package-lock.json
.Trash-*
.model
.modelcache
.vscode
**/_tmp
zma
.data
tests/model/mock_model/*.pkl
